DEBUG=false
ALLOWED_HOSTS=127.0.0.1,localhost,your-domain.uz
SECRET_KEY=change-me-to-a-long-random-string

DATABASE_USER=postgres
DATABASE_PASSWORD=your-db-password
DATABASE_NAME=toyxona
DATABASE_HOST=127.0.0.1

CONTROL_ACCESS_TOKEN=your-edge-server-token
CELERY_BROKER_URL=redis://127.0.0.1:6379/10
CAMERA_STREAM_HOST=your-domain.uz

SESSION_COOKIE_AGE=86400
STATIC_VERSION=1
