DEBUG=false
ALLOWED_HOSTS=176.101.56.247,127.0.0.1,localhost
SECRET_KEY=change-me-to-a-long-random-string

DATABASE_USER=toyxona_user
DATABASE_PASSWORD=your-db-password
DATABASE_NAME=toyxona
DATABASE_HOST=127.0.0.1

CONTROL_ACCESS_TOKEN=your-edge-server-token
CELERY_BROKER_URL=redis://127.0.0.1:6379/10
CAMERA_STREAM_HOST=176.101.56.247

SESSION_COOKIE_AGE=86400
STATIC_VERSION=1
