amqp==5.3.1
asgiref==3.9.2
billiard==4.2.2
celery==5.5.3
certifi==2025.8.3
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.2.6
whitenoise==6.9.0
django-bootstrap5==25.2
django-debug-toolbar==6.0.0
django-jinja==2.11.0
django-otp==1.6.3
djangorestframework==3.16.1
humanize==4.13.0
Jinja2==3.1.6
jinja2-humanize-extension==0.4.0
kombu==5.5.4
MarkupSafe==3.0.2
pillow==11.3.0
prompt_toolkit==3.0.52
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
redis==6.4.0
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
